.img-fluid-small {
    max-width: 70%;
    height: auto;
    margin-top: 10%;
        
}

.container {
    background-color:lightgrey;
    border: 
    
}

.card {
    background: radial-gradient(black, maroon);
}

.cls-1:hover {
        fill: darkred;
    }    